/* This is the main.scss file */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
    user-select: none;
    min-height: auto;
}
.hide{
    display: none !important;
}
.show{
    display: block;
}
.box.hide{
    visibility: hidden;
}
.container{
    margin: auto;
    padding: 20px;
    background-color: #B2F9FC;
    width: 50%;
    height: 400px;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 57px;
    & &__btnDaftar{
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 12px;
    }
    
    & p{
        display: inline-block;
    }
    & a{
        color: lightblue;
        padding-left: 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bolder;
        &:hover{
            text-decoration: underline;
        }
    }
    & &__btnSingup{
        color: #9D84B7;
        margin-left: auto;
    }
    & &__btnStart{
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px;
    }
    & h2{
        padding-bottom: 30px;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
    }
    & &__form{
        width: 100%;
        padding: 15px;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
    }
    & form input{
        border: 2px solid rgb(197, 70, 70);
        width: 100vw;
        margin-left: 10px;
        height: 30px;
        border: none;
        text-align: left;
        font-size: 12px;
        padding: 10px;
        display: block;
        border-radius: 4px;
        &.pass{
            width: 70%;
        }
        &.gameQuiz{
            justify-content: center;
            width: 50%;
            font-size: 14px;
            color: black;
            font-weight: bold;
        }
    }
    & &__pesanError{
        display: inline-block;
        color: rgb(214, 109, 109);
        font-weight: bold;
        padding-left: 5px;
        width: 25%;
        font-size: 16px;
        text-transform: lowercase;
    }
    & form button{
        width: 70px;
        height: 30px;
        line-height: 10px;
        border: none;
        margin-left: 10px;
        background-color: white;
        color: #000000;
        font-weight: bold;
        cursor: pointer;
        display: block;
        opacity: 0.8;
        border-radius: 5px;
        &:hover{
            background-color: #FBFF00;
            border: none;
            border-radius: 5px;
            box-shadow: 0 0 10px 5px rgba($color: #FBFF00, $alpha: 0.4);
        }
        &.tampilPass{
            width: 25%;
            // padding: 5px;
            height: 35px;
            line-height: 10px;
        }
    }
}

.box{
    margin: auto;
    padding: 20px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    & &__heading{
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 50px;
        & h1{
            margin-bottom: 50px;
            text-align: center;
            font-size: 32px;
            font-weight: bold;
        }
        & p{
            text-align: center;
            font-size: 19px;
            font-weight: 500;
            margin-bottom: 50px;
        }
    }
    & &__pilihan{
        font-size: 16px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        flex-direction: row-reverse;
        text-transform: capitalize;
        & [type="radio"]{
            margin-right: 10px;
        }
    }
    & &__action{
        text-align: center;
        & [type="button"]{
            width: 100px;
            height: 50px;
            border-radius: 20px;
            background-color: blue;
            outline: none;
            font-size: 18px;
            color: white;
            font-weight: bold;
            margin-top: 40px;
            margin-right: 20px;
        }
    }
}
.menu {
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    align-items: center;
    background-color: #9D84B7;
    color: #D5D5D5;
    & img{
        width: 150px;
        height: 70px;
    }
    & h1{
        font-size: 2em;
    }
    & &__navbar{
        margin-left: auto;
        width: 15%;
        font-size: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.winner{
    margin: auto;
    padding: 20px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    & h6{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 80px;
        text-align: center;
    }
    & h2{
        font-size: 32px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
        border-radius: 10px;
        margin: auto;
        width: 300px;
        &.red{
            background-color: salmon;
            color: red;
        }
        &.blue{
            background-color: lightseagreen;
            color: #091353;
        }
        &.green{
            background-color: green;
            color: lightgreen;
        }
    }
    p{
        font-size: 18px;
        text-align: center;
        font-weight: bolder;
        margin-top: 60px;
    }
}
.footer{
    height: 50px;
    background-color: 
    #091353;
    color: #D5D5D5;
    font-weight: bold;
    & &__heading{
        font-size: 18px;
        text-align: center;
        line-height: 50px;
    }
}
