@@include('../shared/header.html', {
  "style": [
    "assets/css/main.css"
  ]
})
<main>
  <div class="container">
    <form>
        
    </form>
  </div>
  <div class="thumbnail hide">
    <!-- <div class="box">
    </div> -->
  </div>
  <div class="winner hide">
    <!-- <h6 id="headline__name">Hi, Nilai Kamu</h6>
      <h1 id="nilai"></h1>
    <p>Nilaimu bagus! Pertahankan ya!</p> -->
  </div>
</main>
@@include('../shared/footer.html', {
  "script": [
    "assets/js/app.min.js"
  ]
})