
<!-- This is a separated file to code your footer -->

  <footer class="footer">
    <h5 class="footer__heading">Game Quizz App &copy; 2021</h5>
  </footer>

@@if(context.script) {
  @@for(var i=0; i < script.length; i++) {
  <script src="`+script[i]+`" ></script>
  }
}
  </body>
</html>